<template>
    <v-app-bar fixed elevate-on-scroll :color="theme.colors.main">
        <template v-if="!itemListEditMode">
            <v-tabs class="bordered" centered :color="theme.colors.link" :dark="theme.dark">
                <v-tab :to="{name: 'collections', params: {collectionType: 'dreams'}}">Dreams</v-tab>
                <v-tab :to="{name: 'collections', params: {collectionType: 'switches'}}">Switches</v-tab>
                <v-tab :to="{name: 'collections', params: {collectionType: 'thanks'}}">Thanks</v-tab>
            </v-tabs>

            <v-btn v-if="theme.name === 'dark'" icon :color="theme.colors.buttonSubText" :dark="theme.dark" @click="changeTheme('light')">
                <v-icon>mdi-white-balance-sunny</v-icon>
            </v-btn>
            <v-btn v-if="theme.name === 'light'" icon :color="theme.colors.buttonSubText" :dark="theme.dark" @click="changeTheme('dark')">
                <v-icon>mdi-weather-night</v-icon>
            </v-btn>
        </template>

        <template v-if="!itemListLoadMode && itemListEditMode">
            <v-btn large
                   :text="theme.button.textOrIcon && !displayAsIcon"
                   :icon="theme.button.textOrIcon && displayAsIcon"
                   :color="theme.colors.button"
                   :class="theme.colors.buttonText"
                   @click="$emit('stopEditing')">
                <v-icon v-if="displayAsIcon" :class="theme.colors.buttonSubText">
                    mdi-close
                </v-icon>
                <template v-else>
                    cancel
                </template>
            </v-btn>

            <v-spacer></v-spacer>

            <v-btn v-if="selectedItems.length" large
                   :text="theme.button.textOrIcon && !displayAsIcon"
                   :icon="theme.button.textOrIcon && displayAsIcon"
                   :color="theme.colors.button"
                   :class="theme.colors.buttonText"
                   :loading="settings.loading[collectionType].list.delete"
                   @click="$emit('deleteItems')">
                <v-icon v-if="displayAsIcon" :class="theme.colors.buttonSubText">
                    mdi-delete
                </v-icon>
                <template v-else>
                    delete ({{ selectedItems.length }})
                </template>
            </v-btn>

            <v-btn large
                   :text="theme.button.textOrIcon && !displayAsIcon"
                   :icon="theme.button.textOrIcon && displayAsIcon"
                   :color="theme.colors.button"
                   :class="theme.colors.buttonText"
                   :loading="settings.loading[collectionType].list.update"
                   @click="$emit('updateItems')">
                <v-icon v-if="displayAsIcon" :class="theme.colors.buttonSubText">
                    mdi-content-save
                </v-icon>
                <template v-else>
                    update
                </template>
            </v-btn>
        </template>
    </v-app-bar>
</template>

<script>
    import {mapActions, mapGetters, mapState} from "vuex";

    export default {
        name: "ItemListToolbar",
        props: {
            collectionType: {
                type: String,
                default: null
            },
            selectedItems: Array
        },
        computed: {
            ...mapState(['settings', 'userSettings']),
            ...mapGetters(['theme', 'displayAsIcon', 'itemListLoadMode', 'itemListEditMode'])
        },
        methods: {
            ...mapActions(['saveSettings']),
            changeTheme(themeName) {
                this.saveSettings({settings: Object.assign(this.userSettings, {theme: themeName})});
            }
        }
    }
</script>