<template>
    <v-speed-dial v-model="openListOfButtons" fixed bottom right direction="top">
        <template v-slot:activator>
            <v-btn v-model="openListOfButtons"
                   :dark="theme.button.dark"
                   :fab="theme.button.fab"
                   :color="theme.colors.button"
                   :class="theme.colors.buttonText">
                <v-icon v-if="openListOfButtons">mdi-close</v-icon>
                <v-icon v-else>mdi-dots-vertical</v-icon>
            </v-btn>
        </template>

        <template>
            <v-btn :dark="theme.button.dark"
                   :fab="theme.button.fab"
                   :color="theme.colors.button"
                   :class="theme.colors.buttonText"
                   @click="$emit('addItem')">
                <v-icon>mdi-plus</v-icon>
            </v-btn>
            <v-btn :disabled="!items.length"
                   :dark="theme.button.dark"
                   :fab="theme.button.fab"
                   :color="theme.colors.button"
                   :class="theme.colors.buttonText"
                   @click="$emit('startEditing')">
                <v-icon>mdi-pencil</v-icon>
            </v-btn>
        </template>
    </v-speed-dial>
</template>

<script>
    import {mapGetters} from 'vuex';

    export default {
        name: "ItemListActions",
        data() {
            return {
                openListOfButtons: false
            }
        },
        computed: {
            ...mapGetters(['theme', 'items'])
        }
    }
</script>