<template>
    <v-app-bar v-if="!settings.loading[collectionType].item.load" fixed elevate-on-scroll :color="theme.colors.main">

        <v-btn v-if="!itemEditMode" large icon
               :class="theme.colors.buttonSubText"
               @click="$emit('closeItem')">
            <v-icon>mdi-arrow-left</v-icon>
        </v-btn>

        <v-btn v-if="itemEditMode" large
               :text="theme.button.textOrIcon && !displayAsIcon"
               :icon="theme.button.textOrIcon && displayAsIcon"
               :color="theme.colors.button"
               :class="theme.colors.buttonText"
               @click="$emit('cancelEditing')">
            <v-icon v-if="displayAsIcon" :class="theme.colors.buttonSubText">
                mdi-close
            </v-icon>
            <template v-else>
                cancel
            </template>
        </v-btn>

        <v-spacer></v-spacer>

        <v-btn v-if="item && !itemEditMode" large
               :text="theme.button.textOrIcon && !displayAsIcon"
               :icon="theme.button.textOrIcon && displayAsIcon"
               :color="theme.colors.button"
               :class="theme.colors.buttonText"
               @click.stop="showCarousel">
            <v-icon v-if="displayAsIcon" :class="theme.colors.buttonSubText">
                mdi-play-box-multiple-outline
            </v-icon>
            <template v-else>
                Start Slideshow
            </template>
        </v-btn>

        <template v-if="!item || itemEditMode">
            <v-btn v-if="selectedFiles.length" large
                   :text="theme.button.textOrIcon && !displayAsIcon"
                   :icon="theme.button.textOrIcon && displayAsIcon"
                   :color="theme.colors.button"
                   :class="theme.colors.buttonText"
                   class="mr-1"
                   @click="$emit('deleteFiles')">
                <v-icon v-if="displayAsIcon" :class="theme.colors.buttonSubText">
                    mdi-delete
                </v-icon>
                <template v-else>
                    delete files ({{selectedFiles.length}})
                </template>
            </v-btn>
            <input type="file" multiple ref="item_files" hidden @change="$emit('uploadFiles', $refs['item_files'].files)"/>
            <v-btn v-if="!item || itemEditMode" large
                   :text="theme.button.textOrIcon && !displayAsIcon"
                   :icon="theme.button.textOrIcon && displayAsIcon"
                   :color="theme.colors.button"
                   :class="theme.colors.buttonText"
                   class="mr-1"
                   @click="addFiles">
                <v-icon v-if="displayAsIcon" :class="theme.colors.buttonSubText">
                    mdi-paperclip
                </v-icon>
                <template v-else>
                    add files
                </template>
            </v-btn>
        </template>

        <v-btn v-if="!item" large
               :text="theme.button.textOrIcon && !displayAsIcon"
               :icon="theme.button.textOrIcon && displayAsIcon"
               :color="theme.colors.button"
               :class="theme.colors.buttonText"
               :loading="settings.loading[collectionType].item.save"
               @click="$emit('saveItem')">
            <v-icon v-if="displayAsIcon" :class="theme.colors.buttonSubText">
                mdi-content-save
            </v-icon>
            <template v-else>
                save
            </template>
        </v-btn>

        <v-btn v-if="item && itemEditMode" large
               :text="theme.button.textOrIcon && !displayAsIcon"
               :icon="theme.button.textOrIcon && displayAsIcon"
               :color="theme.colors.button"
               :class="theme.colors.buttonText"
               :loading="settings.loading[collectionType].item.update"
               @click="$emit('updateItem')">
            <v-icon v-if="displayAsIcon" :class="theme.colors.buttonSubText">
                mdi-content-save
            </v-icon>
            <template v-else>
                update
            </template>
        </v-btn>

        <v-progress-linear :active="settings.loading[collectionType].item.files.load" absolute bottom
                           :indeterminate="true"
                           :color="theme.colors.progressbar"></v-progress-linear>
    </v-app-bar>
</template>

<script>
    import {mapState, mapGetters, mapMutations} from "vuex";

    export default {
        name: "ItemToolbar",
        props: {
            collectionType: {
                type: String,
                default: null
            },
            item: {
                type: Object,
                default: null
            },
            selectedFiles: Array
        },
        computed: {
            ...mapState(['settings']),
            ...mapGetters(['theme', 'displayAsIcon', 'itemEditMode'])
        },
        methods: {
            ...mapMutations(['showCarousel']),
            addFiles() {
                this.$refs['item_files'].click();
            }
        }
    }
</script>