<template>
    <v-container fluid class="bordered pa-0">
        <ProgressBar :show="itemLoadMode"></ProgressBar>

        <ItemToolbar :collection-type="collectionType"
                     :item="item"
                     :selected-files="selectedFiles"
                     v-on:closeItem="closeItem"
                     v-on:cancelEditing="cancelEditing"
                     v-on:saveItem="saveItem"
                     v-on:updateItem="updateItem"
                     v-on:uploadFiles="uploadFiles"
                     v-on:deleteFiles="deleteFiles">
        </ItemToolbar>

        <ItemCarousel :items="processingFiles"></ItemCarousel>

        <v-container v-if="!itemLoadMode" fluid class="bordered fill-height py-0 margin-top-64">
            <v-row class="pa-0 ma-0" justify="start">
                <v-col v-if="!item || itemEditMode" class="bordered" cols="12">
                    <textarea v-model="title"
                              name="title"
                              ref="title"
                              placeholder="title"
                              rows="1"
                              :class="`base-title-text title-text-${$mq} ${theme.colors.text} ${theme.colors.placeholder}`"
                              @keydown="autosize('title')"
                    ></textarea>
                </v-col>
                <v-col v-else class="bordered" cols="12">
                    <p :class="`base-title-text title-text-${$mq} ${theme.colors.text}`">{{ item.title }}</p>
                </v-col>

                <v-col v-if="!item || itemEditMode" class="bordered" cols="12">
                    <textarea v-model="description"
                              name="description"
                              ref="description"
                              placeholder="description"
                              rows="1"
                              :class="`base-description-text description-text-${$mq} ${theme.colors.text} ${theme.colors.placeholder}`"
                              @keydown="autosize('description')"
                    ></textarea>
                </v-col>
                <v-col v-else class="bordered" cols="12">
                    <p :class="`base-description-text description-text-${$mq} ${theme.colors.text}`">{{ item.description }}</p>
                </v-col>

                <v-col class="bordered" cols="12">
                    <GridItemList :items="processingFiles"
                                  :edit-mode="!item || itemEditMode"
                                  v-on:selectItem="selectFile"></GridItemList>
                </v-col>
            </v-row>
        </v-container>

        <ItemActions v-if="item && !itemLoadMode && !itemEditMode"
                     v-on:startEditing="startEditing"
                     v-on:openSettings="openSettings"
                     v-on:deleteItem="deleteItem"></ItemActions>
        <v-btn v-else fixed bottom right
               :dark="theme.button.dark"
               :fab="theme.button.fab"
               :color="theme.colors.button"
               :class="theme.colors.buttonText"
               @click="openSettings">
            <v-icon>mdi-cog-outline</v-icon>
        </v-btn>
    </v-container>
</template>

<script>
    import ProgressBar from "../Stuff/ProgressBar";
    import ItemCarousel from "../Stuff/ItemCarousel";
    import ItemToolbar from "./ItemToolbar";
    import GridItemList from "../Stuff/GridItemList";
    import ItemActions from "./ItemActions";
    import {dbCollections} from '../../modules/firebase/db';
    import {uploadFile, deleteFile} from '../../modules/firebase/storage';
    import {mapActions, mapGetters, mapMutations, mapState} from 'vuex';
    import {prepareArray} from '../../helpers/grid.helper';
    import {serverTimestamp} from "../../modules/firebase/firebase";

    export default {
        name: "Item",
        components: {
            ProgressBar,
            ItemCarousel,
            ItemToolbar,
            GridItemList,
            ItemActions
        },
        props: {
            collectionType: {
                type: String,
                default: null
            },
            itemId: {
                type: String,
                default: null
            }
        },
        data() {
            return {
                item: null,
                newItem: null,

                title: '',
                description: '',

                processingFiles: [],
                sourceProcessingFiles: [],

                selectedFiles: [],
                filesForDeleting: []
            }
        },
        mounted() {
            if (this.itemId) {
                this.getItem({itemId: this.itemId});
            } else {
                this.newItem = this.firebaseCollection.doc();
                this.newItem.set({
                    id: this.newItem.id,
                    status: 'draft',
                    created_at: serverTimestamp(),
                    user_id: this.currentUser.uid,
                    i: this.items.length.toString(),
                    typeName: 'image',
                    h: 8,
                    w: 4
                });
                this.$refs['title'].focus();
            }
        },
        updated() {
            if (this.$refs['title']) {
                this.$refs['title'].dispatchEvent(new KeyboardEvent('keydown',{'key': 'ArrowDown'}));
            }
            if (this.$refs['description']) {
                this.$refs['description'].dispatchEvent(new KeyboardEvent('keydown',{'key': 'ArrowDown'}));
            }
        },
        watch: {
            currentItem(_currentItem) {
                this.item = _currentItem;
                this.processingFiles = this.convertFiles(this.item.files);
            }
        },
        computed: {
            ...mapState(['currentUser', 'settings', 'currentItem', 'activeCollectionType']),
            ...mapGetters(['theme', 'items', 'itemLoadMode', 'itemEditMode']),
            firebaseCollection() {
                return dbCollections[this.collectionType];
            }
        },
        methods: {
            ...mapActions(['getItem']),
            ...mapMutations(['setLoading', 'setEditing', 'showSnackbar']),


            closeItem() {
                if (this.newItem) {
                    this.newItem.delete().then(() => {
                        this.goToItemList();
                    });
                } else {
                    this.goToItemList();
                }
            },


            convertFiles(array) {
                return prepareArray(array, this.settings.gridParams.cols[this.$mq]);
            },
            uploadFiles(files) {
                if (!files.length) {
                    return;
                }

                this.setLoading({key: 'item.files.load', value: true});

                let index = 0;
                files.forEach(async (file) => {
                    index++;
                    let fileInfo = await uploadFile(
                        file,
                        this.activeCollectionType,
                        this.newItem ? this.newItem.id : this.item.id
                    );

                    this.processingFiles = this.convertFiles(this.processingFiles.concat([fileInfo]));

                    if (index === files.length) {
                        this.setLoading({key: 'item.files.load', value: false});
                    }
                });
            },
            deleteFilesFromFirebase(files) {
                files.forEach(async (filePath) => {
                    await deleteFile(filePath);
                });
            },
            deleteFiles() {
                let files_ = this.processingFiles.filter((item) => {
                    return this.selectedFiles.indexOf(item.id) !== -1;
                });

                this.processingFiles = this.processingFiles.filter((item) => {
                    return this.selectedFiles.indexOf(item.id) === -1;
                });

                this.filesForDeleting = this.filesForDeleting.concat(files_.map((file) => file.filePath));

                this.selectedFiles = [];
            },
            selectFile(itemId) {
                let _index = this.selectedFiles.indexOf(itemId);
                if (_index === -1) {
                    this.selectedFiles.push(itemId);
                } else {
                    this.selectedFiles.splice(_index, 1);
                }
            },


            saveItem() {
                this.setLoading({key: 'item.save', value: true});
                this.newItem.update({
                    title: this.title,
                    description: this.description,
                    status: 'active',
                    files: this.processingFiles
                }).then(() => {
                    this.showSnackbar({text: 'Object successfully created', color: 'success'});
                    this.setLoading({key: 'item.save', value: false});
                    this.goToItemList();
                }).catch((error) => {
                    this.setLoading({key: 'item.save', value: false});
                    this.showSnackbar({text: error.message, color: 'error'});
                });
            },


            startEditing() {
                this.title = this.item.title;
                this.description = this.item.description;
                this.sourceProcessingFiles = this.processingFiles.map(i => Object.assign({}, i));
                this.setEditing({key: 'item', value: true});
            },
            cancelEditing(saveData) {
                if (!saveData) {
                    this.title = this.item.title;
                    this.description = this.item.description;
                    this.processingFiles = this.sourceProcessingFiles.map(i => Object.assign({}, i));
                    this.sourceProcessingFiles = [];
                }
                this.selectedFiles = [];
                this.filesForDeleting = [];
                this.setEditing({key: 'item', value: false});
            },
            updateItem() {
                this.setLoading({key: 'item.update', value: true});
                this.deleteFilesFromFirebase(this.filesForDeleting);
                this.firebaseCollection.doc(this.itemId).update({
                    title: this.title,
                    description: this.description,
                    files: this.processingFiles
                }).then(() => {
                    this.showSnackbar({text: 'Object successfully updated', color: 'success'});
                    this.setLoading({key: 'item.update', value: false});
                    this.cancelEditing(true);
                }).catch((error) => {
                    this.showSnackbar({text: error.message, color: 'error'});
                    this.setLoading({key: 'item.update', value: false});
                });
            },


            deleteItem() {
                this.setLoading({key: 'item.delete', value: true});
                this.firebaseCollection.doc(this.itemId)
                    .delete()
                    .then(() => {
                        this.showSnackbar({text: 'Object successfully deleted', color: 'success'});
                        this.setLoading({key: 'item.delete', value: false});
                        this.goToItemList();
                    }).catch((error) => {
                        this.showSnackbar({text: error.message, color: 'error'});
                        this.setLoading({key: 'item.delete', value: false});
                    });
            },


            openSettings() {
                alert(`openSettings for item of ${this.collectionType}`);
            },

            goToItemList() {
                this.$router.push({name: 'collections', params: {collectionType: this.collectionType}});
            },

            autosize: function (elementRef) {
                var el = this.$refs[elementRef];
                setTimeout(function(){
                    el.style.cssText = 'height:auto; padding:0';
                    el.style.cssText = 'height:' + el.scrollHeight + 'px';
                },0);
            }
        }
    }
</script>