<template>
    <v-container fluid class="pa-0">
        <ProgressBar :show="itemListLoadMode"></ProgressBar>

        <ItemListToolbar :collection-type="collectionType"
                         :selected-items="selectedItems"
                         v-on:stopEditing="stopEditing"
                         v-on:deleteItems="deleteItems"
                         v-on:updateItems="updateItems"></ItemListToolbar>

        <v-container v-if="!itemListLoadMode" fluid class="fill-height pa-0 margin-top-64">
            <v-row>
                <v-col cols="12" class="py-0">
                    <GridItemList :items="processingItems"
                                  :edit-mode="itemListEditMode"
                                  v-on:selectItem="selectItem"></GridItemList>
                </v-col>
            </v-row>
        </v-container>

        <ItemListActions v-if="!itemListLoadMode && !itemListEditMode"
                         v-on:addItem="addItem"
                         v-on:startEditing="startEditing"
                         v-on:openSettings="openSettings">
        </ItemListActions>
    </v-container>
</template>

<script>
    import ProgressBar from "../Stuff/ProgressBar";
    import ItemListToolbar from "./ItemListToolbar";
    import GridItemList from "../Stuff/GridItemList";
    import ItemListActions from "./ItemListActions";
    import {mapState, mapGetters, mapMutations, mapActions} from 'vuex';
    import {dbCollections, _deleteItems, _getItems} from '../../modules/firebase/db';
    import {prepareArray} from "../../helpers/grid.helper";

    export default {
        components: {
            ProgressBar,
            ItemListActions,
            GridItemList,
            ItemListToolbar
        },
        props: {
            collectionType: {
                type: String,
                default: null
            }
        },
        data() {
            return {
                processingItems: [],
                sourceProcessingItems: [],
                selectedItems: [],
                itemsForDeleting: []
            }
        },
        mounted() {
            this.getItems(this.collectionType);
        },
        watch: {
            collectionType(_collectionType) {
                this.getItems(_collectionType);
            }
        },
        computed: {
            ...mapState(['settings', 'activeCollectionType', 'currentUser', 'defaultItemImage']),
            ...mapGetters(['theme', 'items', 'displayAsIcon', 'itemListLoadMode', 'itemListEditMode']),
            firebaseCollection() {
                return dbCollections[this.collectionType];
            }
        },
        methods: {
            ...mapActions(['getItems']),
            ...mapMutations(['setActiveCollectionType', 'setLoading', 'setEditing', 'showSnackbar', 'saveItems']),
            getItems(collectionType) {
                this.setLoading({key: `list.load`, value: true});
                this.setActiveCollectionType({collectionType: collectionType});

                this.processingItems = [];
                _getItems(collectionType, this.currentUser.uid)
                    .then((querySnapshot) => {
                        let items = []

                        querySnapshot.forEach((doc) => {
                            let data = doc.data();
                            let images = data.files ? data.files.filter((item) => item.typeName === 'image') : [];
                            data.src = images.length ? images[0].src : this.defaultItemImage;
                            items.push(data);
                        });

                        this.saveItems(items);

                        if (items && items.length) {
                            this.processingItems = prepareArray(
                                this.processingItems.length ? this.processingItems : items,
                                this.settings.gridParams.cols[this.$mq]
                            );
                        } else {
                            this.processingItems = [];
                        }

                        this.setLoading({key: `list.load`, value: false});
                    })
                    .catch((error) => {
                        this.showSnackbar({text: error.message, color: 'error'});
                        this.setLoading({key: `list.load`, value: false});
                    });
            },
            startEditing() {
                this.sourceProcessingItems = this.processingItems.map(i => Object.assign({}, i));
                this.setEditing({key: 'list', value: true});
            },
            stopEditing(success) {
                if (!success) {
                    this.processingItems = this.sourceProcessingItems.map(i => Object.assign({}, i));
                }
                this.sourceProcessingItems = [];
                this.itemsForDeleting = [];
                this.selectedItems = [];
                this.setEditing({key: 'list', value: false});
            },
            updateItems() {
                this.setLoading({key: 'list.update', value: true});

                _deleteItems(this.activeCollectionType, this.itemsForDeleting);

                if (!this.processingItems.length) {
                    this.setLoading({key: 'list.update', value: false});
                    this.stopEditing(true);
                    return;
                }

                this.processingItems.forEach(async (item, index) => {
                    await this.firebaseCollection.doc(item.id).update({
                        x: item.x,
                        y: item.y,
                        w: item.w,
                        h: item.h,
                        i: item.i
                    });

                    if ((index + 1) === this.processingItems.length) {
                        this.setLoading({key: 'list.update', value: false});
                        this.stopEditing(true);
                    }
                });
            },
            selectItem(itemId) {
                let _index = this.selectedItems.indexOf(itemId);
                if (_index === -1) {
                    this.selectedItems.push(itemId);
                } else {
                    this.selectedItems.splice(_index, 1);
                }
            },
            deleteItems() {
                this.processingItems = this.processingItems.filter((item) => {
                    return this.selectedItems.indexOf(item.id) === -1;
                });

                this.itemsForDeleting = this.itemsForDeleting.concat(this.selectedItems.map((itemId) => itemId));

                this.selectedItems = [];
            },

            addItem() {
                this.$router.push({'name': 'add-item', params: {collectionType: this.collectionType}});
            },

            openSettings() {
                alert(`openSettings for ${this.collectionType}`);
            },
        }
    }
</script>