<template>
    <v-card v-if="item"
            tile
            class="grid-item-content align-center justify-center"
            :to="!editMode && item.status === 'active' ? {name: 'about-item', params: {collectionType: activeCollectionType, itemId: item.id}} : ''"
            @click="open">
        <template v-if="item.typeName === 'image'">
            <v-img :src="item.src" class="image-container" height="100%"></v-img>
        </template>

        <template v-if="item.typeName === 'video'">
            <VueDPlayer :options="videoOptions" class="video-container"></VueDPlayer>
        </template>

        <template v-if="item.typeName === 'audio'">
            <vue-plyr>
                <audio>
                    <source :src="item.src" :type="item.type"/>
                </audio>
            </vue-plyr>
        </template>

        <template v-if="editMode">
            <div class="grid-item-no-draggable" @click="selectItem" :ref="`no-draggable-area-${item.id}`"></div>
            <div class="grid-item-draggable-area"><v-icon x-large dark>mdi-gesture-double-tap</v-icon></div>
        </template>
    </v-card>
</template>

<script>
    import VueDPlayer from 'vue-dplayer';
    import 'vue-dplayer/dist/vue-dplayer.css';
    import {mapMutations, mapState} from "vuex";

    export default {
        name: "GridItemContent",
        components: {
            VueDPlayer
        },
        props: {
            editMode: {
                type: Boolean,
                default: false
            },
            item: {
                type: Object,
                default: null
            },
            index: {
                type: Number,
                default: null
            }
        },
        computed: {
            ...mapState(['activeCollectionType']),
            videoOptions() {
                return {
                    video: {
                        url: this.item.src,
                        pic: ''
                    },
                    autoplay: false
                };
            }
        },
        methods: {
            ...mapMutations(['showCarousel']),
            selectItem() {
                let separator = ' ';
                let element = this.$refs[`no-draggable-area-${this.item.id}`];
                let classes = element.className.split(separator);
                let _index = classes.indexOf('grid-item-no-draggable__selected');
                if (_index === -1) {
                    classes.push('grid-item-no-draggable__selected');
                } else {
                    classes.splice(_index, 1);
                }
                element.className = classes.join(separator);

                this.$emit('selectItem', this.item.id);
            },
            open() {
                if (this.index !== null && !this.editMode && this.item.status !== 'active') {
                    this.showCarousel({index: this.index});
                }
            }
        }
    }
</script>