<template>
    <grid-layout
            v-if="items.length"
            :layout="items"
            :col-num="settings.gridParams.cols[$mq]"
            :row-height="settings.gridParams.rows[$mq]"
            :is-draggable="editMode"
            :is-resizable="editMode"
            :vertical-compact="true"
            :margin="settings.gridParams.margin[$mq]">
        <grid-item v-for="(item, index) in items"
                   :key="item.i"
                   :x="item.x"
                   :y="item.y"
                   :w="item.w"
                   :h="item.h"
                   :i="item.i"
                   dragIgnoreFrom=".grid-item-no-draggable"
                   dragAllowFrom=".grid-item-draggable-area">
            <GridItemContent :edit-mode="editMode" :item="item" :index="index" v-on:selectItem="selectItem"></GridItemContent>
        </grid-item>
    </grid-layout>
</template>processingFiles

<script>
    import {mapState} from "vuex";
    import GridItemContent from './GridItemContent';

    export default {
        name: "GridItemList",
        components: {
            GridItemContent
        },
        props: {
            items: Array,
            editMode: {
                type: Boolean,
                default: false
            }
        },
        computed: {
            ...mapState(['settings'])
        },
        methods: {
            selectItem(itemId) {
                this.$emit('selectItem', itemId);
            }
        }
    }
</script>