<template>
    <v-row justify="center">
        <v-dialog v-model="dialog" persistent max-width="290">
            <template v-slot:activator="{on}">
                <v-btn :dark="theme.button.dark"
                       :fab="theme.button.fab"
                       :color="theme.colors.button"
                       :class="theme.colors.buttonText"
                       v-on="on">
                    <v-icon>mdi-delete</v-icon>
                </v-btn>
            </template>
            <v-card>
                <v-card-title class="headline">Delete item?</v-card-title>
                <v-card-text>Are you shure wou want to delete this item? All data will be lost!</v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green darken-1" text @click="no">Cancel</v-btn>
                    <v-btn color="green darken-1" text @click="yes">Delete</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>
</template>

<script>
    import {mapGetters} from "vuex";

    export default {
        name: "ItemDeleteMW",
        data() {
            return {
                dialog: false
            };
        },
        computed: {
            ...mapGetters(['theme'])
        },
        methods: {
            no() {
                this.dialog = false;
            },
            yes() {
                this.dialog = false;
                this.$emit('yes');
            }
        }
    }
</script>