<template>
    <v-row justify="center">
        <v-dialog v-model="carousel.active" fullscreen hide-overlay transition="fade-transition" v-on:keydown="keydownListener">
            <v-toolbar dark absolute color="rgba(0, 0, 0, 0.0)" tile flat>
                <v-btn icon dark @click="close">
                    <v-icon>mdi-close</v-icon>
                </v-btn>
            </v-toolbar>
            <v-card flat tile>
                <v-carousel hide-delimiter-background
                            :show-arrows="false"
                            :cycle="carousel.cycle"
                            :interval="carousel.interval"
                            v-model="localIndex"
                            height="100vh">
                    <v-carousel-item v-for="(item, i) in items" :key="i">
                        <GridItemContent :edit-mode="false" :item="item"></GridItemContent>
                    </v-carousel-item>
                </v-carousel>
            </v-card>
        </v-dialog>
    </v-row>
</template>

<script>
    import GridItemContent from './GridItemContent';
    import {mapMutations, mapState} from "vuex";

    export default {
        name: "ItemCarousel",
        components: {
            GridItemContent
        },
        props: {
            items: Array
        },
        data() {
            return {
                localIndex: 0
            };
        },
        watch: {
            carousel(_carousel) {
                if (_carousel.active) {
                    this.localIndex = _carousel.index;
                } else {
                    this.localIndex = 0;
                }
            }
        },
        computed: {
            ...mapState(['carousel'])
        },
        methods: {
            ...mapMutations(['closeCarousel']),
            previous() {
                if (this.localIndex === 0) {
                    this.localIndex = this.items.length - 1;
                } else {
                    this.localIndex--;
                }
            },
            next() {
                this.localIndex++;
            },
            close() {
                this.closeCarousel();
            },
            keydownListener(e) {
                switch (e.code) {
                    case 'Space':
                        this.next();
                        break;
                    case 'ArrowRight':
                        this.next();
                        break;
                    case 'ArrowUp':
                        this.next();
                        break;
                    case 'ArrowLeft':
                        this.previous();
                        break;
                    case 'ArrowDown':
                        this.previous();
                        break;
                }
            }
        }
    }
</script>