<template>
    <v-layout v-if="show" align-content-center justify-center class="progress-bar-container">
        <v-row align-content="center" justify="center">
            <v-progress-circular
                    :size="100"
                    :width="7"
                    :color="theme.colors.progressbar"
                    indeterminate
            ></v-progress-circular>
        </v-row>
    </v-layout>
</template>

<script>
    import {mapGetters} from "vuex";

    export default {
        name: "ProgressBar",
        props: {
            show: {
                type: Boolean,
                default: false
            },
        },
        computed: {
            ...mapGetters(['theme'])
        }
    }
</script>

<style>
    .progress-bar-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0);

        z-index: 999999 !important;
    }
</style>