<template>
  <v-app>
    <v-content ref="content">
        <router-view></router-view>
    </v-content>
    <v-snackbar
            v-model="snackbar.show"
            :color="snackbar.color"
            :multi-line="true"
            :timeout="6000"
            :top="true">
      {{ snackbar.text }}
      <v-btn dark text @click="closeSnackbar">Close</v-btn>
    </v-snackbar>
  </v-app>
</template>

<script>
  import {mapState, mapMutations, mapGetters} from 'vuex';

  export default {
    name: 'App',
    mounted() {
      this.$refs['content'].$refs['content'].style.backgroundColor = this.theme.colors.main;
    },
    watch: {
      theme(_val) {
        this.$refs['content'].$refs['content'].style.backgroundColor = _val.colors.main;
      }
    },
    computed: {
      ...mapState(['snackbar']),
      ...mapGetters(['theme'])
    },
    methods: {
      ...mapMutations(['closeSnackbar'])
    }
  };
</script>

<style>
  @import './assets/styles/base.css';
</style>