.bordered {
    border: 0px solid red;
}

.no-border-radius {
    border-radius: unset !important;
}

.toolbar-buttons-container {
    display: flex;
}

.grid-item-content {
    display: flex !important;
    width: 100%;
    height: 100%;
}

.grid-item-no-draggable {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);

    z-index: 999999 !important;

    cursor: pointer;
}

.grid-item-no-draggable__selected {
    background-color: rgba(0, 0, 0, 0.8) !important;
}

.grid-item-draggable-area {
    position: absolute;

    width: 75px;
    height: 75px;

    display: flex;
    justify-content: center;

    background-color: rgba(255, 255, 255, 0.5);

    z-index: 9999999 !important;

    border-radius: 50% !important;
}

.vue-resizable-handle {
    z-index: 99999999 !important;
}

.image-container {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

.video-container {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

.base-title-text {
    width: 100%;
    overflow: hidden;
    resize: none;
    font-weight: bold;
    white-space: pre-line;


    border: 0;
    outline: 0;
}
.base-description-text {
    width: 100%;
    overflow: hidden;
    resize: none;
    font-weight: 100;
    white-space: pre-line;


    border: 0;
    outline: 0;
}

.title-text-desktop {
    font-size: 7rem;
    /*line-height: 7rem;*/
}
.description-text-desktop {
    font-size: 3rem;
    /*line-height: 3rem;*/
}

.title-text-laptop {
    font-size: 4rem;
    /*line-height: 4rem;*/
}
.description-text-laptop {
    font-size: 2.5rem;
    /*line-height: 2.5rem;*/
}

.title-text-tablet {
    font-size: 4rem;
    /*line-height: 4rem;*/
}
.description-text-tablet {
    font-size: 2rem;
    /*line-height: 2rem;*/
}

.title-text-mobile {
    font-size: 3rem;
    /*line-height: 3rem;*/
}
.description-text-mobile {
    font-size: 1.5rem;
    /*line-height: 1.5rem;*/
}

.margin-top-64 {
    margin-top: 64px !important;
}

/* Chrome, Firefox, Opera, Safari 10.1+ */
.dark-theme::placeholder {
    color: rgba(255, 255, 255, 0.7);
}
/* Internet Explorer 10-11 */
.dark-theme:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
}
/* Microsoft Edge */
.dark-theme::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
}