<template>
    <v-row justify="center">
        <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
            <template v-slot:activator="{on}">
                <v-btn v-on="on"
                       :dark="activeCollectionSettings.button.dark"
                       :fab="activeCollectionSettings.button.fab"
                       :color="activeCollectionSettings.button.color">
                    <v-icon>mdi-cog-outline</v-icon>
                </v-btn>
            </template>

            <v-card tile>
                <v-toolbar dark :color="colors.main" tile>
                    <v-btn icon dark @click="close">
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                    <v-toolbar-title>Settings</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-toolbar-items>
                        <v-btn dark text @click="save">Save</v-btn>
                    </v-toolbar-items>
                </v-toolbar>

                <v-list three-line subheader>
                    <v-subheader>Colors settings</v-subheader>

                    <v-list-item>
                        <v-list-item-action>
                            <VSwatches :trigger-style="{border: '1px solid lightgrey'}" v-model="colors.main" show-fallback popover-x="left"></VSwatches>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title>Main Color</v-list-item-title>
                            <v-list-item-subtitle>This color used for system toolbars, navigation tabs and progress bar</v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>

                    <v-list-item>
                        <v-list-item-action>
                            <VSwatches :trigger-style="{border: '1px solid lightgrey'}" v-model="colors.background" show-fallback popover-x="left"></VSwatches>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title>Background Color</v-list-item-title>
                            <v-list-item-subtitle>Background color on the main page</v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>

                    <v-list-item>
                        <v-list-item-action>
                            <VSwatches :trigger-style="{border: '1px solid lightgrey'}" v-model="colors.bar" show-fallback popover-x="left"></VSwatches>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title>Bar Color</v-list-item-title>
                            <v-list-item-subtitle>Color of the bar on the main page</v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>

                    <v-list-item>
                        <v-list-item-action>
                            <VSwatches :trigger-style="{border: '1px solid lightgrey'}" v-model="colors.text" show-fallback popover-x="left"></VSwatches>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title>Text Color</v-list-item-title>
                            <v-list-item-subtitle>Color of text</v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                </v-list>

                <v-divider></v-divider>

                <v-list three-line subheader>
                    <v-subheader>General</v-subheader>
                    <v-list-item>
                        <v-list-item-action>
                            <v-checkbox></v-checkbox>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title>Notifications</v-list-item-title>
                            <v-list-item-subtitle>Notify me about updates to apps or games that I downloaded</v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                        <v-list-item-action>
                            <v-checkbox></v-checkbox>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title>Sound</v-list-item-title>
                            <v-list-item-subtitle>Auto-update apps at any time. Data charges may apply</v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                        <v-list-item-action>
                            <v-checkbox></v-checkbox>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title>Auto-add widgets</v-list-item-title>
                            <v-list-item-subtitle>Automatically add home screen widgets</v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                </v-list>
            </v-card>
        </v-dialog>
    </v-row>
</template>

<script>
    import VSwatches from 'vue-swatches';
    import "vue-swatches/dist/vue-swatches.css";
    import {mapActions, mapGetters} from "vuex";

    export default {
        name: 'ItemListSettings',
        components: {
            VSwatches
        },
        watch: {
            dialog(_dialog) {
                if (_dialog) {
                    this.colors = Object.assign({}, this.activeCollectionSettings.colors);
                } else {
                    this.colors = {};
                }
            }
        },
        data () {
            return {
                dialog: false,
                colors: {}
            }
        },
        computed: {
            ...mapGetters(['activeCollectionSettings'])
        },
        methods: {
            ...mapActions(['saveSettings']),
            close() {
                this.dialog = false;
            },
            save() {
                console.log(Object.assign(this.activeCollectionSettings, {colors: this.colors}));
                this.saveSettings({settings: Object.assign(this.activeCollectionSettings, {colors: this.colors})});
                this.dialog = false;
            }
        }
    }
</script>