<template>
    <v-container fluid class="fill-height">
        <v-row align="center" justify="center">
            <v-col cols="12" sm="8" md="4">
                <v-form autocomplete="off">
                    <input autocomplete="false" name="hidden" type="text" style="display:none;">
                    <v-text-field label="Email" name="email" type="email" v-model="email"/>
                    <v-text-field id="password" label="Password" name="password" type="password" v-model="password" @keypress.enter="login"/>
                    <v-col align="right">
                        <v-btn @click="goToRegister" text>Register</v-btn>
                        <v-btn @click="login" :loading="loginInProcess" text>Login</v-btn>
                    </v-col>
                </v-form>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import {mapMutations} from 'vuex';
    import {_login} from "../../modules/firebase/auth";
    import {_getUserSettings} from "../../modules/firebase/db";

    export default {
        name: 'Login',
        data() {
            return {
                email: '',
                password: '',
                loginInProcess: false
            };
        },
        methods: {
            ...mapMutations(['showSnackbar']),
            goToRegister() {
                this.$router.push({name: 'register'});
            },
            login(e) {
                if (!this.email || !this.password) {
                    this.showSnackbar({text: 'Please, fill all fields', color: 'error'});
                    return;
                }

                this.loginInProcess = true;
                _login(this.email, this.password)
                .then((user) => {
                        if (user && user.user.emailVerified) {
                            _getUserSettings(user.user.uid)
                                .then((querySnapshot) => {
                                    querySnapshot.forEach((doc) => {
                                        let data = doc.data();
                                        this.$store.commit('setUserSettings', {settings: data});
                                    });
                                    this.$store.commit('setUser', {user: user.user});
                                    this.$router.push({name: 'collections', params: {collectionType: 'dreams'}});
                                    this.showSnackbar({text: 'You success login', color: 'success'});
                                    this.loginInProcess = false;
                                })
                                .catch((error) => {
                                    this.showSnackbar({text: error.message, color: 'error'});
                                    this.loginInProcess = false;
                                });
                        } else {
                            this.showSnackbar({text: 'Your email is not verified', color: 'error'});
                            this.loginInProcess = false;
                        }
                    },
                    (error) => {
                        this.showSnackbar({text: error.message, color: 'error'});
                        this.loginInProcess = false;
                    }
                )
                .catch((error) => {
                    this.showSnackbar({text: error.message, color: 'error'});
                    this.loginInProcess = false;
                });
                e.preventDefault();
            }
        }
    }
</script>