<template>
    <v-container fluid class="fill-height">
        <v-row align="center" justify="center">
            <v-col cols="12" sm="8" md="4">
                <v-form autocomplete="off">
                    <input autocomplete="false" name="hidden" type="text" style="display:none;">
                    <v-text-field label="Email" name="email" type="email" v-model="email"/>
                    <v-text-field id="password" label="Password" name="password" type="password" v-model="password" @keypress.enter="register"/>
                    <v-col>
                        <v-btn text @click="goToLogin">Back</v-btn>
                        <v-btn class="float-right" text @click="register" :loading="registerInProcess">Register</v-btn>
                    </v-col>
                </v-form>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import {mapMutations, mapState} from 'vuex';
    import {_register, _getCurrentUser} from "../../modules/firebase/auth";
    import {dbUserSettings} from "../../modules/firebase/db";

    export default {
        name: 'Register',
        data() {
            return {
                email: '',
                password: '',
                registerInProcess: false
            };
        },
        computed: {
            ...mapState(['defaultUserSettings'])
        },
        methods: {
            ...mapMutations(['showSnackbar']),
            goToLogin() {
                this.$router.push({name: 'login'});
            },
            register(e) {
                if (!this.email || !this.password) {
                    this.showSnackbar({text: 'Please, fill all fields', color: 'error'});
                    return;
                }

                this.registerInProcess = true;
                _register(this.email, this.password)
                    .then(() => {
                        let user = _getCurrentUser()

                        // Generate default settings
                        let userSettings = dbUserSettings.doc();
                        userSettings.set(Object.assign(this.defaultUserSettings, {
                            id: userSettings.id,
                            user_id: user.uid
                        }));

                        // Send verification email to user
                        user.sendEmailVerification()
                            .then(() => {
                                this.$router.push({name: 'login'});
                                this.showSnackbar({text: 'We send to you verification email. Please check it.', color: 'success'});
                                this.registerInProcess = false;
                            }).catch((error) => {
                                this.showSnackbar({text: error.message, color: 'error'});
                                this.registerInProcess = false;
                            });
                        })
                    .catch((error) => {
                        this.showSnackbar({text: error.message, color: 'error'});
                        this.registerInProcess = false;
                    });
                e.preventDefault();
            }
        }

    }
</script>